// font

$color-font-main: #333333;
$color-font-second: #AAAAAA;
$color-font-hover: #125BAE;
$color-font-history: #5A0488;
$color-font-bg: #E2EFFF;
$selection-font: #E2EFFF;



// color

$color-brand: #7397F5;
$color-border: #D5D5D5;
$color-icons: #CBCBCB;
$color-white: #FFFFFF;
$scroll-bar: #F2F2F2;


// size 

$main-font: 14px;
$small-font: 12px;
$border-radius: 10px